.tasting-notes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.tasting-note {
		background-color: #e8e8e8;
		padding: 0.5rem 0.75rem;
		border-radius: 8px;
		margin: 0.25rem;

		&.selected {
			background-color: rgb(86, 176, 211);
			color: #fff;
		}

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
}
