html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.hidden {
  display: none;
}

#container {
  background-color: rgb(86, 176, 211);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main {
    flex-grow: 1;
  }

  header,
  main,
  footer {
    flex-shrink: 0;
  }

  #header {
    h1 {
      color: #eee;
      font-size: 3rem;
      text-align: center;
    }
  }

  #content {
    background-color: #eee;
    border-radius: 4px;
    width: 90%;
    margin: 1rem auto 1.5rem auto;

    #search-form {
      display: flex;
      flex-direction: row;
      padding: 1rem;

      #spirit-selector {
        width: 20rem;
      }

      #search-button {
        margin: 0 0.5rem;
      }
    }

    #loader {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
      justify-content: center;
      text-align: center;

      h3 {
        font-size: 2.25rem;
        margin-top: 0.5rem;
      }
    }

    .pure-form#results-header {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      margin-bottom: 1rem;

      #results-title {
        margin: 0 0 0 0.5rem;
      }

      #filter-container {
        label {
          font-size: 1.2rem;
          font-weight: 500;
          margin-right: 0.5rem;
        }

        input {
          width: 250px;
        }
      }
    }

    #search-results-container {
      align-items: center;
      display: grid;
      grid-gap: 1.5rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 1rem 0.5rem;

      #no-results-message {
        align-items: center;
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        font-weight: 500;
        justify-content: center;
        margin-top: 10rem;
      }

      .result {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }

        .thumbnail {
          height: 300px;
          width: 300px;
        }

        .name {
          font-size: 1.25rem;
          font-weight: 500;
          margin-top: 0.75rem;
        }
      }
    }
  }

  #footer {
    color: #eee;
    text-align: center;
    padding-bottom: 0.75rem;
    font-weight: 600;
  }
}
