#content {
	@import './detail.scss';

	#search {
		padding: 0 0.75rem;

		form {
			fieldset {
				display: flex;

				select {
					background-color: #eee;
					border-color: #333;
					max-width: 25rem;

					&:focus {
						border-color: #333;
						background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%333" d="M0,0l6,8l6-8"/></svg>');
					}
				}

				button {
					margin-left: 0.5rem;
					border-color: #eee;
					color: #eee;
					text-align: center;
				}
			}
		}
	}

	#search-results-container {
		align-items: center;
		color: #eee;
		display: grid;
		grid-gap: 1.5rem 1rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 1rem 0.5rem;

		#no-results-message {
			align-items: center;
			display: flex;
			font-size: 2rem;
			flex-direction: column;
			font-weight: 500;
			justify-content: center;
			margin-top: 1rem;
			text-align: center;
		}

		#total-results {
			margin-left: 1rem;
		}

		.result {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			a {
				.thumbnail {
					height: 300px;
					width: 300px;
				}
			}

			.name {
				font-size: 1.5rem;
				font-weight: 500;
				margin-top: 0.75rem;
			}
		}
	}
}
