#content {
	@import './detail.scss';

	#search {
		background-color: #eee;
		box-shadow: 0 0 10px;
		padding: 2rem 0.75rem;
		margin: 0 2rem 1rem 2rem;
		border: 1px solid #eee;
		border-radius: 4px;
		max-width: 800px;

		@media screen and (min-width: 35.5em) {
			margin: 2rem auto;
		}

		form,
		fieldset,
		select {
			margin: 0;
		}

		form {
			display: flex;

			fieldset {
				margin: 0 0.75rem;
				width: 50%;

				select {
					&:focus {
						border-color: #333;
						background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%333" d="M0,0l6,8l6-8"/></svg>');
					}
				}
			}

			@media screen and (max-width: 35.5em) {
				flex-direction: column;

				fieldset {
					margin: 0.5rem 0;
					width: 100%;
				}
			}
		}
	}

	#total-results {
		margin-left: 2.5rem;
		color: #eee;
		font-size: 3rem;
	}

	#search-results-container {
		align-items: center;
		color: #eee;
		display: grid;
		grid-gap: 1.5rem 1rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 1rem 0.5rem;

		#no-results-message {
			align-items: center;
			display: flex;
			font-size: 2rem;
			flex-direction: column;
			font-weight: 500;
			justify-content: center;
			margin-top: 1rem;
			text-align: center;
		}

		.result {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			a {
				.thumbnail {
					height: 300px;
					width: 300px;
				}
			}

			.name {
				font-size: 1.5rem;
				font-weight: 500;
				margin-top: 0.75rem;
			}
		}
	}
}
