.cocktail-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1.5rem 1rem 3rem;

	@media (min-width: 40rem) {
		flex-direction: row;

		.left {
			margin-right: 3rem;
		}
	}

	@media screen and (max-width: 35.5em) {
		padding-left: 1.5rem;
	}

	.thumbnail {
		background-color: #fff;
		padding: 1rem;
		border-radius: 4px;

		img {
			width: 400px;
		}
	}

	@media screen and (max-width: 35.5em) {
		.thumbnail {
			img {
				width: 100%;
			}
		}
	}

	.title {
		font-size: 3.5rem;
		font-weight: 400;
	}

	.instructions {
		font-size: 1.75rem;
		font-weight: 400;
	}

	.ingredients {
		font-size: 2rem;
		font-weight: 400;
		margin-top: 1rem;

		@media (min-width: 40rem) {
			margin-top: 0;
			h4 {
				font-size: 3rem;
			}
		}

		ul {
			margin-left: 0.5rem;
		}
	}
}
