#total-results {
	font-weight: 500;
	font-size: 3rem;
	width: 85%;
	margin: 0 auto;

	@media screen and (max-width: 35.5em) {
		margin-left: 2rem;
		width: 100%;
	}
}

#search-results-container {
	align-items: center;
	display: grid;
	grid-gap: 1.5rem 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
	padding: 1rem 0.5rem;
	width: 85%;
	margin: 0 auto;

	@media screen and (max-width: 35.5em) {
		width: 95%;
	}

	#no-results-message {
		align-items: center;
		display: flex;
		font-size: 2rem;
		flex-direction: column;
		font-weight: 500;
		justify-content: center;
		margin-top: 1rem;
		text-align: center;
	}

	.result {
		align-items: center;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 4px;
		padding: 2rem 1.5rem 1rem 1.5rem;

		&:hover {
			cursor: pointer;
			box-shadow: 3px 3px 4px #d6d4d4;
		}

		a {
			.thumbnail {
				height: 300px;
				width: 325px;
			}
		}

		.name {
			font-size: 1.75rem;
			font-weight: 500;
			margin-top: 0.5rem;
		}
	}
}
